body {
  display: flex;
  justify-content: center;
}
.container {
  width: 1200px;
  margin: 0;
  display: grid;
  grid-template-columns: 6fr;
  grid-template-rows: 50px 50px 50px 300px 50px 300px;
  grid-template-areas: 'header' 'content' 'workTitle' 'listWork' 'doneTitle' 'listDone';
}
.header {
  padding: 20px;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.contentBox {
  grid-area: content;
  padding: 10px;
  border: 1px solid black;
}
input {
  width: 250px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(210, 210, 210);
}
.text {
  margin-left: 10px;
}
.addButton {
  justify-content: center;
  align-items: center;
  float: right;
  display: flex;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 30px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.addButton:hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
/* 리스트 영역 */
.listArea {
  width: 230px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
h3 {
  display: flex;
}
/* Work 리스트 */
.listContainer {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  margin-right: 10px;
}
