body {
  display: flex;
  justify-content: center;
}
h2 {
  grid-area: title;
  padding: 10px;
}
/* 버튼 공통 CSS */
button {
  float: right;
}
input {
  width: 250px;
  height: 32px;
  font-size: 15px;
  border: 1;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  margin-right: 10px;
}
.container {
  width: 1200px;
  margin: 0;
  padding: 10px;
  display: grid;
  border: 2px solid black;
  border-radius: 15px;
  grid-template-columns: 6fr;
  grid-template-rows: 50px 50px 50px 300px 50px 300px;
  grid-template-areas: 'header' 'content' 'title' 'todoList' 'title' 'todoList';
}
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todoContent {
  grid-area: content;
  padding: 10px;
}
.text {
  margin-left: 10px;
}
.addButton {
  justify-content: center;
  align-items: center;
  display: flex;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 30px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.addButton:hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
/* TODO 영역 */
.todoContainer {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  max-height: 300px;
  overflow-y: scroll;
}
.todoList {
  grid-area: todoList;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 260px;
  word-wrap: break-word;
}
/* TODO 완료 버튼 */
.todoSuccessButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #2dcb62;
  color: #fff;
  background-color: #2dcb62;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 30px;
  margin: 2px;
}
.todoSuccessButton:hover {
  background: 0 0;
  color: #2dcb62;
}
/* TODO 취소 버튼 */
.todoCancelButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #e8e10a;
  color: #fff;
  background-color: #e8e10a;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 30px;
  margin: 2px;
}
.todoCancelButton:hover {
  background: 0 0;
  color: #e8e10a;
}
/* TODO 삭제 버튼 */
.todoRemoveButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 30px;
  margin: 2px;
}
.todoRemoveButton:hover {
  background: 0 0;
  color: #ff4742;
}
